.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #212529;
  color: white;
  text-align: center;
  padding: 10px;
}

.error {
  color: red;
}

.bold-text {
  font-weight: bold;
}

.center-text {
  margin: 10px auto;
}

.center-text-bold {
  margin: 20px auto;
  font-weight: bolder;
}

.footer-text {
  font-weight: bolder;
}

.landing-container {
  margin-top: 250px;
}

body {
  /* background: #a3aab1; */
  background-color: #edf1f5;
}

.no-border {
  border: none;
}

.content {
  font-weight: 300;
  margin-top: 15px;
}

.main-card {
  margin-top: 80px;
  /* margin-bottom: 40px; */
}

.post-card {
  margin-top: 15px;
  margin-bottom: 10px;
}

.button {
  width: 100%;
}

.p-3 {
  padding: 1rem !important;
}

.text-area {
  border: 0;
  resize: none;
}

.text-area:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
}

.vr {
  background-color: #d1dada;
  margin: 5px 2px;
  width: 100%;
  height: 2px;
}

.custom-button {
  border-radius: 20px;
  float: right;
}

.button-container {
  margin-top: auto;
  margin-bottom: auto;
}

.right {
  float: right;
}

.card {
  border-radius: 0.5rem !important;
}

.bottom-margin {
  margin-top: 100px;
}

.no-right {
  right: 0;
}

.messages-container {
  margin-top: 140px;
  height: 400px;
}

.message {
  padding: 20px;
  overflow-y: scroll;
  height: 300px;
}

.message-text {
  font-weight: 500;
}

::-webkit-scrollbar {
  display: none;
}

.message-form {
  padding: 10px;
}

.message-input {
  width: 104%;
  border-radius: 150px;
}

/* .f-r {
  padding-left: 15px;
  padding-right: 15px;
} */

.message-send {
  width: 100%;
  border-radius: 150px;
}

.cont {
  margin-left: auto;
  margin-right: auto;
}

.alert {
  margin-top: 55px;
}

/* .msg-btn {
  padding-left: 4px;
}

.msg-text {
  padding-right: 4px;
} */
