<div class="row">
  <div class="main-card col-md-5 col-xs-12 cont">
    <div class="card p-3 no-border">
      <h3 class="center-text">Change Password</h3>
      <hr />
      <form method="POST" id="password-form">
        <input type="hidden" name="_id" value="<%= locals.user._id %>" />
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="New Password"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            name="conf_pass"
            placeholder="Confirm New Password"
          />
        </div>
        <div>
          <button type="submit" class="btn btn-success btn-lg button">
            Update Password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>