<div class="container landing-container">
  <div class="card p-3 no-border">
    <blockquote class="blockquote mb-0">
      <h1>Welcome to this Node.js App</h1>
      <a class="btn btn-primary" href="/login">Login</a>
      <a class="btn btn-success" href="/register">Register</a>
    </blockquote>
  </div>
</div>
