<div class="container main-card col-md-3">
  <div class="card p-3 no-border">
    <h3 class="center-text">Login</h3>
    <hr />
    <form method="POST" id="login-form">
      <div class="form-group">
        <input
          type="text"
          name="email"
          class="form-control"
          placeholder="Email"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          name="password"
          class="form-control"
          placeholder="Password"
        />
      </div>
      <hr />
      <div>
        <button class="btn btn-success btn-lg button" type="submit">
          Login
        </button>
      </div>
    </form>
    <p class="center-text-bold">Don't have account yet? <a href="/register">Create one</a></p>
  </div>
</div>
