<div class="row">
  <div class="main-card col-md-5 col-xs-12 cont">
    <div class="card p-3 no-border">
      <h3 class="center-text">My Profile</h3>
      <hr />
      <form method="POST" action="/update-profile" id="profile">
        <input type="hidden" name="_id" value="<%= locals.user._id %>" />
        <div class="form-group">
          <label class="bold-text">First Name</label>
          <input
            type="text"
            class="form-control"
            name="first_name"
            placeholder="First Name"
            value="<%= locals.user.first_name %>"
          />
        </div>
        <div class="form-group">
          <label class="bold-text">Last Name</label>
          <input
            type="text"
            class="form-control"
            name="last_name"
            placeholder="First Name"
            value="<%= locals.user.last_name %>"
          />
        </div>
        <div class="form-group">
          <label class="bold-text">Phone</label>
          <input
            type="text"
            class="form-control"
            name="phone"
            placeholder="First Name"
            value="<%= locals.user.phone %>"
          />
        </div>
        <div>
          <button type="submit" class="btn btn-success btn-lg button">
            Update
          </button>
        </div>
      </form>
    </div>
  </div>
</div>